In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "browser"
from pprint import pprint
from config import g_key

In [4]:
cameras_file = os.path.join("../Desktop/Archive", "red-light-camera-locations.csv")
violations_file = os.path.join("../Desktop/Archive","red-light-camera-violations.csv")

In [10]:
red_locs_df = pd.read_csv(cameras_file)
violations_file = pd.read_csv(speedings_file)

In [11]:
violations_file.columns

Index(['INTERSECTION', 'CAMERA ID', 'ADDRESS', 'VIOLATION DATE', 'VIOLATIONS',
       'X COORDINATE', 'Y COORDINATE', 'LATITUDE', 'LONGITUDE', 'LOCATION',
       'Historical Wards 2003-2015', 'Zip Codes', 'Community Areas',
       'Census Tracts', 'Wards'],
      dtype='object')

In [12]:
cams_per_ward = pd.DataFrame(red_locs_df.groupby("Wards")["Intersection"].count())
violations_per_ward = pd.DataFrame(violations_file.groupby("Wards")["VIOLATIONS"].sum())
wards = [
1,
2,
3,
4,
5,
6,
7,
8,
9,
10,
11,
12,
13,
14,
15,
16,
17,
18,
19,
20,
21,
22,
23,
24,
25,
26,
27,
28,
29,
30,
31,
32,
33,
34,
35,
36, 
37,  
38, 
40,
41,
44,
45,
46,
48,
49,
50]

In [14]:
merge_df = pd.merge(cams_per_ward, violations_per_ward, on="Wards")
merge_df = merge_df.rename(columns={
    "Intersection": "Number of Red Light Cams per Ward",
    "VIOLATIONS": "Number of Red Light Violations per Ward"
})
merge_df.head()

,Number of Red Light Cams per Ward,Number of Red Light Violations per Ward
Wards,,
1,2,33960
2,2,25681
3,2,34327
4,1,30204
5,1,21369

In [16]:
merge_df["Ward Number"] = wards
merge_df.head()

,Number of Red Light Cams per Ward,Number of Red Light Violations per Ward,Ward Number
Wards,,,
1,2,33960,1
2,2,25681,2
3,2,34327,3
4,1,30204,4
5,1,21369,5

In [18]:
ward_locs = os.path.join("../Desktop/Archive", "ward_offices_locs_alt.csv")
ward_locs_df = pd.read_csv(ward_locs)
ward_locs_df = ward_locs_df.rename(columns={
    "Ward":"Ward Number"
})
ward_locs_df.head()

,Ward Number,Latitude,Longitude,Neighborhoods,Navigator
0,1,41.918127,-87.687821,"Wicker Park, West Town, Ukranian Village, Loga...","N Side, W and Near W Side"
1,2,41.908759,-87.668029,"Near North Side, Lincoln Park, Wicker Park, Uk...","N Side, W and Near W Side"
2,3,41.804552,-87.626387,"Hyde Park, Bronzeville, Fuller Park and Grand...",Near S Side
3,4,41.885555,-87.631870,"South Loop, Museum Campus, Douglas, Grand Boul...",S Side
4,5,41.766729,-87.568063,"Indian Village, Hyde Park, Jackson Park, South...",S Side

In [20]:
new_merge_df = pd.merge(merge_df, ward_locs_df, on="Ward Number")
new_merge_df.head()

,Number of Red Light Cams per Ward,Number of Red Light Violations per Ward,Ward Number,Latitude,Longitude,Neighborhoods,Navigator
0,2,33960,1,41.918127,-87.687821,"Wicker Park, West Town, Ukranian Village, Loga...","N Side, W and Near W Side"
1,2,25681,2,41.908759,-87.668029,"Near North Side, Lincoln Park, Wicker Park, Uk...","N Side, W and Near W Side"
2,2,34327,3,41.804552,-87.626387,"Hyde Park, Bronzeville, Fuller Park and Grand...",Near S Side
3,1,30204,4,41.885555,-87.631870,"South Loop, Museum Campus, Douglas, Grand Boul...",S Side
4,1,21369,5,41.766729,-87.568063,"Indian Village, Hyde Park, Jackson Park, South...",S Side

In [22]:
locations = new_merge_df[["Latitude", "Longitude"]]
locations.head()

    Latitude  Longitude
0  41.918127 -87.687821
1  41.908759 -87.668029
2  41.804552 -87.626387
3  41.885555 -87.631870
4  41.766729 -87.568063

In [25]:
gmaps.configure(api_key = g_key)
speed_cams = new_merge_df["Number of Red Light Cams per Ward"].astype(float)

In [27]:
new_merge_df.head()

,Number of Red Light Cams per Ward,Number of Red Light Violations per Ward,Ward Number,Latitude,Longitude,Neighborhoods,Navigator
0,2,33960,1,41.918127,-87.687821,"Wicker Park, West Town, Ukranian Village, Loga...","N Side, W and Near W Side"
1,2,25681,2,41.908759,-87.668029,"Near North Side, Lincoln Park, Wicker Park, Uk...","N Side, W and Near W Side"
2,2,34327,3,41.804552,-87.626387,"Hyde Park, Bronzeville, Fuller Park and Grand...",Near S Side
3,1,30204,4,41.885555,-87.631870,"South Loop, Museum Campus, Douglas, Grand Boul...",S Side
4,1,21369,5,41.766729,-87.568063,"Indian Village, Hyde Park, Jackson Park, South...",S Side

In [29]:
info_box_template = """
<dl>
<dt>Ward</dt><dd>{Ward Number}</dd>
<dt>Ward Location<dd>{Navigator}</dd>
<dt>Neighborhoods<dd>{Neighborhoods}</dd>
<dt>Number of Red Light Cams</dt><dd>{Number of Red Light Cams per Ward}</dd>
<dt>Number of Red Light Violations per Ward</dt><dd>{Number of Red Light Violations per Ward}</dd>
</dl>
"""

In [31]:
fig = gmaps.figure()
heat_map = gmaps.heatmap_layer(locations, weights= speed_cams, dissipating=False, max_intensity=1, point_radius=0.01)
fig.add_layer(heat_map)
cam_info = [info_box_template.format(**row) for index, row in new_merge_df.iterrows()]
markers = gmaps.marker_layer(locations, info_box_content= cam_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
new_merge_df.sort_values(by="Number of Red Light Violations per Ward", ascending=False).reset_index(drop=True)

,Number of Red Light Cams per Ward,Number of Red Light Violations per Ward,Ward Number,Latitude,Longitude,Neighborhoods,Navigator
0,5,173116,28,41.879433,-87.692469,"West Garfield Park, East Garfield Park, Austin...",W and Near W Side
1,5,163190,13,41.776442,-87.722318,"West Lawn, Clearing, West Elsdon, Garfield Ridge",SW Side
2,6,155493,23,41.794699,-87.775670,"West Elsdon, West Lawn, Garfield Ridge and Cle...",Far W Side and SW Side
3,3,116923,33,41.954898,-87.703292,"Albany Park, Irving Park and Avondale","N Side, NW Side"
4,2,108233,25,41.859393,-87.663994,"Pilsen, Greek Town, Chinatown, University Vill...",Lower W Side
5,2,106413,32,41.931614,-87.675177,"Wicker Park, Logan Square, Bucktown, Roscoe Vi...",N Side
6,7,106272,40,41.985173,-87.689067,"Lincoln Square, Edgewater, West Ridge",Far N. Side
7,6,100330,46,41.965654,-87.656924,"Buena Park, Lakeview, Uptown","Far N. Side, N. Side"
8,3,92851,22,41.849848,-87.712418,"South Lawndalwe, Little Village, Archer Heights",W and Near W Side
9,3,92006,20,41.791594,-87.630251,"Back of the Yards, Canaryville, Washington Par...",S and SW Side
10,3,80185,41,42.017953,-87.806705,"Edison Park, Edgebrook, Norwood Park, O'Hare",Far NW Side
11,5,76664,36,41.932169,-87.799757,"Montclare, Portage Park, Belmont Cragin, Hermosa",NW Side
12,3,75919,45,41.968614,-87.763115,"Old Irving Park, Portgage, Jefferson Park, Nor...","Far N. Side, NW Side"
13,4,70253,38,41.951554,-87.806574,"Portage Park, Dunning",NW Side
14,1,69646,6,41.752748,-87.606916,"Chatham, Chesterfield, Englewood, Greater Gran...",S Side and Far S Side
15,6,62518,44,41.941873,-87.653429,Lakeview,N Side
16,4,62512,24,41.867599,-87.729869,"North Lawndale, Douglas Park, Little Village",W and Near W Side
17,8,61536,50,41.998445,-87.703388,"West Ridge, West Roger's Park",Far N. Side
18,3,61437,16,41.797053,-87.664397,"Chicago Lawn, West Englewood, Gage Park",SW Side
19,4,56305,7,41.723191,-87.568378,"Calumet Heights, Pill Hill, South Chicago, Sou...",Far S Side
20,1,54043,48,41.984219,-87.660024,"Edgewater, Andersonville, Uptwon",Far N. Side
21,5,53868,18,41.741901,-87.721094,"Southwest Side, Ashburn, Marquette Park, Aubur...",SW and Far SW
22,5,52270,31,41.932807,-87.742242,"Hermosa, Belmont-Cragin, Logan Square",NW Side
23,4,52106,49,42.009405,-87.667626,Roger's Park,Far N. Side
24,6,50802,17,41.752220,87.657918,"Marquette Park, Gresham, West Englewood, Chica...",SW Side
25,2,43911,14,41.803364,-87.690833,"Far West Side, Archer Heights, Garfield Ridge,...",SW Side
26,3,42687,21,41.730828,-87.662846,"Roseland, Chatham, Gresham, Washington Heights...",Far SW Side
27,4,40854,8,41.750322,-87.603073,"Pullman, Avalon Park, South Shore, Burnside, C...",Far S Side
28,4,39260,12,41.832705,-87.677529,"Brighton Park, McKinley Park, Little Village",W and Near SW Side
29,4,37467,19,41.705995,-87.682192,"Beverly, Mount Greenwood, Morgan Park, Washing...",Far SW Side
30,3,36136,34,41.693295,-87.635630,"West Pullman, Washington Heights, Moran Park, ...",Far S Side
31,2,34327,3,41.804552,-87.626387,"Hyde Park, Bronzeville, Fuller Park and Grand...",Near S Side
32,3,34174,27,41.883022,-87.687335,"East Garfield Park, Humboldt Park, Illinois Me...",Near W Side and Near N Side
33,2,33960,1,41.918127,-87.687821,"Wicker Park, West Town, Ukranian Village, Loga...","N Side, W and Near W Side"
34,3,32042,30,41.946984,-87.733745,"Belmont Cragin, Portage Park, Irving Park",NW Side
35,1,30204,4,41.885555,-87.631870,"South Loop, Museum Campus, Douglas, Grand Boul...",S Side
36,1,29214,35,41.936965,-87.716539,"Albany Park, Irving Park, Avondale, Logan Squa...","NW Side, Far N Side"
37,2,25681,2,41.908759,-87.668029,"Near North Side, Lincoln Park, Wicker Park, Uk...","N Side, W and Near W Side"
38,2,24369,11,41.828532,-87.645647,"Bridgeport, Armour Square, McKinley Park, Full...",S Side
39,1,21369,5,41.766729,-87.568063,"Indian Village, Hyde Park, Jackson Park, South...",S Side
40,2,21271,26,41.904259,87.689051,"Humboldt Park, Hermosa, Ukrainian Village, Log...","N Side, W and Near W Side"
41,1,19702,9,41.691465,-87.621334,"Riverdale, West Pullman, Washington Heights, R...",Far S Side and Far SW Side
42,2,19409,29,41.910837,-87.783206,"Austin, Montclare, Belmont Cragin",NW Side
43,1,8236,37,41.896756,-87.748776,"Austin, Humboldt Park",W and Near W Side
44,1,6863,10,41.706005,-87.535526,"Hegewisch, East Side, South Deering, Jeffery M...",Far S Side and S Side
45,1,4580,15,41.778840,-87.663760,"Back of the Yards, West Englewood, Gage Park, ...",South and SW Side